body {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

p {
  color: dimgray;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

header {
  padding: 60px 0;
  .flex-box {
  }
  .box-left {
    padding: 30px 0;
    h1 {
      font-size: 46px;
      font-weight: 400;
      padding-bottom: 20px;

      span {
        color: orange;
        font-weight: normal;
        font-size: 46px;
      }
    }

    .sub-head {
      font-weight: 600;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 15px;
    }

    .cta-btn {
      padding: 10px 30px;
      font-weight: bold;
      color: #fff;
      border-radius: 5px;
      background: linear-gradient(45deg, lightsalmon, tomato);
      outline: none;
      border: none;
    }
  }

  .box-right {
    img {
      width: 100%;
    }
  }
}

.about-me {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  .box-left {
    img {
      width: auto;
      height: 500px;
    }
  }

  .box-right {
    width: 60%;
    padding: 60px 0;
    padding-left: 30px;

    h2 {
      font-size: 24px;
      padding: 10px 0;
    }
    .sub-head {
      padding: 5px 0;
    }

    p {
      padding-bottom: 20px;
    }

    .download-btn {
      padding: 8px 30px;
      font-weight: bold;
      color: #fff;
      border-radius: 5px;
      background: linear-gradient(45deg, lightsalmon, tomato);
      outline: none;
      border: none;
    }
  }
}

.experience {
  background-image: url(/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 60px 0;
  .heading {
    font-size: 36px;
    padding: 15px 5px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .exp-flex {
    display: flex;
  }

  .exp-box {
    h2 {
      font-size: 24px;
      padding: 10px 0;
    }
    .sub-heading {
      color: orange;
      padding: 5px 0;
    }
    padding: 30px 30px;
    margin: 15px;
    width: 50%;
    box-shadow: 1px 6px 12px rgba(rgb(36, 36, 36), 0.3);
  }

  .exp-left {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
  }

  .exp-right {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
  }
}

footer p {
  text-align: center;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .flex {
    text-align: center;
    flex-direction: column;
  }

  header .flex {
    flex-direction: column-reverse;
  }
  header .box-right img {
    width: 300px;
  }

  .about-me .box-left img {
    width: 300px;
    height: auto;
  }

  .about-me .box-right {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }

  .exp-flex {
    flex-direction: column;
    margin: 0 auto;
  }

  .experience .exp-box {
    box-sizing: border-box;
    width: 90%;
    margin: 15px auto;
  }
}

@media only screen and (max-width: 600px) {
  header .box-left h1 {
    font-size: 38px;
  }
  header .box-left h1 span {
    font-size: 38px;
  }
}
